AI-Dental-Clinic-System/workflows/sync/sync-exceptions-from-notion.json
{
  "name": "sync-exceptions-from-notion",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyX",
              "unit": "minutes"
            }
          ]
        },
        "event": "pagedUpdatedInDatabase",
        "databaseId": {
          "__rl": true,
          "value": "bdaa0223-0a13-41b2-809c-2f1cf2b6cbd7",
          "mode": "list",
          "cachedResultName": "🚫 Clinic Exceptions",
          "cachedResultUrl": "https://www.notion.so/bdaa02230a1341b2809c2f1cf2b6cbd7"
        }
      },
      "type": "n8n-nodes-base.notionTrigger",
      "typeVersion": 1,
      "position": [
        128,
        -32
      ],
      "id": "30b99107-ef96-4a52-98ae-a44c5c51d029",
      "name": "Notion Trigger",
      "credentials": {
        "notionApi": {
          "id": "KdxHZXDSeMFuu1Ew",
          "name": "Notion account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "clinic_exceptions",
        "filters": {
          "conditions": [
            {
              "keyName": "notion_id",
              "keyValue": "={{ $json.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        336,
        -32
      ],
      "id": "952dc0b2-f03a-461a-bbc0-106b7a1fce22",
      "name": "Get a row",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "IXxy4GFY1ZNTJ2e2",
          "name": "Supabase account 5"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "6844517c-2fdc-46f4-9b61-3bdd750b9340",
              "leftValue": "={{ $json.notion_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        544,
        -32
      ],
      "id": "f602a30e-74ba-4f1a-b857-36cf1d33a648",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "clinic_exceptions",
        "filters": {
          "conditions": [
            {
              "keyName": "notion_id",
              "condition": "eq",
              "keyValue": "={{ $json.notion_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "notion_id",
              "fieldValue": "={{ $json.notion_id }}"
            },
            {
              "fieldId": "exception_date",
              "fieldValue": "={{ $json.exception_date }}"
            },
            {
              "fieldId": "reason",
              "fieldValue": "={{ $json.reason }}"
            },
            {
              "fieldId": "closed",
              "fieldValue": "={{ $json.closed }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        880,
        -128
      ],
      "id": "163cf1f2-3e83-4fdc-bb57-a4ff20210877",
      "name": "Update a row",
      "credentials": {
        "supabaseApi": {
          "id": "IXxy4GFY1ZNTJ2e2",
          "name": "Supabase account 5"
        }
      }
    },
    {
      "parameters": {
        "tableId": "clinic_exceptions",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "notion_id",
              "fieldValue": "={{ $('Notion Trigger').item.json.id }}"
            },
            {
              "fieldId": "exception_date",
              "fieldValue": "={{ $('Notion Trigger').item.json['Exception Date'] }}"
            },
            {
              "fieldId": "reason",
              "fieldValue": "={{ $('Notion Trigger').item.json.Reason }}"
            },
            {
              "fieldId": "closed",
              "fieldValue": "={{ $('Notion Trigger').item.json.Closed }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        912,
        112
      ],
      "id": "ef99e8bf-9611-4e28-a97e-c6a7bb733d88",
      "name": "Create a row",
      "credentials": {
        "supabaseApi": {
          "id": "IXxy4GFY1ZNTJ2e2",
          "name": "Supabase account 5"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Notion Trigger": {
      "main": [
        [
          {
            "node": "Get a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a row": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Update a row",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "fbb89259-bca6-45a0-a57c-5400cbb6cafe",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "90b6cb49899c99579264242ebcb5945915bcb7c494e1f1809bc138dacc79b617"
  },
  "id": "gCxgRrcLAvUlQODv",
  "tags": [
    {
      "updatedAt": "2026-05-14T03:44:22.767Z",
      "createdAt": "2026-05-14T03:44:22.767Z",
      "id": "RomUHSLwTs0vX1nd",
      "name": "Clinic"
    }
  ]
}