AI-Dental-Clinic-System/workflows/sync/sync-services-from-notion.json
{
  "name": "sync-services-from-notion",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyX",
              "value": 3,
              "unit": "minutes"
            }
          ]
        },
        "event": "pagedUpdatedInDatabase",
        "databaseId": {
          "__rl": true,
          "value": "3afeb426-9dc3-4ee6-9290-184b9c19b182",
          "mode": "list",
          "cachedResultName": "Services",
          "cachedResultUrl": "https://www.notion.so/3afeb4269dc34ee69290184b9c19b182"
        }
      },
      "type": "n8n-nodes-base.notionTrigger",
      "typeVersion": 1,
      "position": [
        576,
        160
      ],
      "id": "7f5ff9a3-f82a-419f-98ab-cc463e4d33b9",
      "name": "Notion Trigger1",
      "credentials": {
        "notionApi": {
          "id": "KdxHZXDSeMFuu1Ew",
          "name": "Notion account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "services",
        "filters": {
          "conditions": [
            {
              "keyName": "notion_id",
              "keyValue": "={{ $json.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        832,
        160
      ],
      "id": "2ce1749a-fbeb-4e58-b9bd-6d5014c573fa",
      "name": "Get a row",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "IXxy4GFY1ZNTJ2e2",
          "name": "Supabase account 5"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "d240e799-0365-49d9-8ec8-943cab4ef837",
              "leftValue": "={{ $json.notion_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1024,
        160
      ],
      "id": "e4c13c8a-234c-480b-bdec-906a0162b2f5",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "services",
        "filters": {
          "conditions": [
            {
              "keyName": "notion_id",
              "condition": "eq",
              "keyValue": "={{ $json.notion_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "notion_id",
              "fieldValue": "={{ $json.notion_id }}"
            },
            {
              "fieldId": "service_name",
              "fieldValue": "={{ $json.name }}"
            },
            {
              "fieldId": "price",
              "fieldValue": "={{ $json.property_price }}"
            },
            {
              "fieldId": "duration_minutes",
              "fieldValue": "={{ $json.property_duration_minutes }}"
            },
            {
              "fieldId": "active",
              "fieldValue": "={{ $json.property_active }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1456,
        96
      ],
      "id": "93b69d34-5587-4555-93cb-38074fd46895",
      "name": "Update a row1",
      "credentials": {
        "supabaseApi": {
          "id": "IXxy4GFY1ZNTJ2e2",
          "name": "Supabase account 5"
        }
      }
    },
    {
      "parameters": {
        "tableId": "services",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "notion_id",
              "fieldValue": "={{ $('Notion Trigger1').item.json.id }}"
            },
            {
              "fieldId": "service_name",
              "fieldValue": "={{ $('Notion Trigger1').item.json['Service Name'] }}"
            },
            {
              "fieldId": "price",
              "fieldValue": "={{ $('Notion Trigger1').item.json.Price }}"
            },
            {
              "fieldId": "duration_minutes",
              "fieldValue": "={{ $('Notion Trigger1').item.json['Duration Minutes'] }}"
            },
            {
              "fieldId": "active",
              "fieldValue": "={{ $('Notion Trigger1').item.json.Active }}"
            },
            {
              "fieldId": "description",
              "fieldValue": "={{ $('Notion Trigger1').item.json.Description }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1440,
        352
      ],
      "id": "8b80c3ad-958a-4708-8869-258c10884d21",
      "name": "Create a row",
      "credentials": {
        "supabaseApi": {
          "id": "IXxy4GFY1ZNTJ2e2",
          "name": "Supabase account 5"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Notion Trigger1": {
      "main": [
        [
          {
            "node": "Get a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a row": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Update a row1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "967b9884-6ecb-4b6b-9420-0c3960ff7299",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "90b6cb49899c99579264242ebcb5945915bcb7c494e1f1809bc138dacc79b617"
  },
  "id": "3Stbq1OAaNaBQQQc",
  "tags": [
    {
      "updatedAt": "2026-05-14T03:44:22.767Z",
      "createdAt": "2026-05-14T03:44:22.767Z",
      "id": "RomUHSLwTs0vX1nd",
      "name": "Clinic"
    }
  ]
}