AI-Dental-Clinic-System/workflows/sync/sync-clinic-info-from-notion.json
{
  "name": "sync-clinic-info-from-notion",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "event": "pagedUpdatedInDatabase",
        "databaseId": {
          "__rl": true,
          "value": "5a3a8cd7-8d60-4a50-9bd1-364ae3094c9b",
          "mode": "list",
          "cachedResultName": "Clinic Information",
          "cachedResultUrl": "https://www.notion.so/5a3a8cd78d604a509bd1364ae3094c9b"
        }
      },
      "type": "n8n-nodes-base.notionTrigger",
      "typeVersion": 1,
      "position": [
        -320,
        -16
      ],
      "id": "518f19df-913c-4ec7-9502-cefe1aa0ed6e",
      "name": "Notion Trigger",
      "credentials": {
        "notionApi": {
          "id": "KdxHZXDSeMFuu1Ew",
          "name": "Notion account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "clinic_information",
        "filters": {
          "conditions": [
            {
              "keyName": "notion_id",
              "keyValue": "={{ $json.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -112,
        -16
      ],
      "id": "3e00b1f9-a886-4126-9395-4411a09ed4aa",
      "name": "Get a row",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "IXxy4GFY1ZNTJ2e2",
          "name": "Supabase account 5"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "df1ee335-b73f-4f73-856c-9688ea1d002d",
              "leftValue": "={{ $json.notion_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        96,
        -16
      ],
      "id": "9324ea2f-d8f8-46e8-ab65-eaecf28fd30d",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "clinic_information",
        "filters": {
          "conditions": [
            {
              "keyName": "notion_id",
              "condition": "eq",
              "keyValue": "={{ $json.notion_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "notion_id",
              "fieldValue": "={{ $json.notion_id }}"
            },
            {
              "fieldId": "info_key",
              "fieldValue": "={{ $json.info_key }}"
            },
            {
              "fieldId": "info_value",
              "fieldValue": "={{ $json.info_value }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        384,
        -64
      ],
      "id": "9dce9bb3-24c9-4e6c-8430-bc52fe3d6bea",
      "name": "Update a row",
      "credentials": {
        "supabaseApi": {
          "id": "IXxy4GFY1ZNTJ2e2",
          "name": "Supabase account 5"
        }
      }
    },
    {
      "parameters": {
        "tableId": "clinic_information",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "notion_id",
              "fieldValue": "={{ $json.notion_id }}"
            },
            {
              "fieldId": "info_key",
              "fieldValue": "={{ $json.info_key }}"
            },
            {
              "fieldId": "info_value",
              "fieldValue": "={{ $json.info_value }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        384,
        144
      ],
      "id": "e666784b-d63d-40e6-ae0e-43a6aa0e35db",
      "name": "Create a row",
      "credentials": {
        "supabaseApi": {
          "id": "IXxy4GFY1ZNTJ2e2",
          "name": "Supabase account 5"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Notion Trigger": {
      "main": [
        [
          {
            "node": "Get a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a row": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Update a row",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "ec8be917-4607-4789-b95d-978e697f22fe",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "90b6cb49899c99579264242ebcb5945915bcb7c494e1f1809bc138dacc79b617"
  },
  "id": "vAPWrVirveTZQIPR",
  "tags": [
    {
      "updatedAt": "2026-05-14T03:44:22.767Z",
      "createdAt": "2026-05-14T03:44:22.767Z",
      "id": "RomUHSLwTs0vX1nd",
      "name": "Clinic"
    }
  ]
}