AI-Dental-Clinic-System/workflows/sync/sync-bookings-from-notion.json
{
  "name": "sync-bookings-from-notion",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "event": "pagedUpdatedInDatabase",
        "databaseId": {
          "__rl": true,
          "value": "36063761-caa3-8018-b772-cc726fb8e910",
          "mode": "list",
          "cachedResultName": "Appointment",
          "cachedResultUrl": "https://www.notion.so/36063761caa38018b772cc726fb8e910"
        }
      },
      "type": "n8n-nodes-base.notionTrigger",
      "typeVersion": 1,
      "position": [
        0,
        -32
      ],
      "id": "cd5edfa3-8b30-424e-b70c-d018c4daf32b",
      "name": "Notion Trigger",
      "credentials": {
        "notionApi": {
          "id": "KdxHZXDSeMFuu1Ew",
          "name": "Notion account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "appointments",
        "filters": {
          "conditions": [
            {
              "keyName": "customer_phone",
              "keyValue": "={{ $json.Phone }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        224,
        -32
      ],
      "id": "e3b3ba91-0ddf-49fc-9aee-ab50c9696900",
      "name": "Get a row",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "IXxy4GFY1ZNTJ2e2",
          "name": "Supabase account 5"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "f72469fb-d35d-4508-8e13-ac0bcb634a3c",
              "leftValue": "={{ $json.id }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        464,
        -32
      ],
      "id": "dbf282ae-a64e-406d-95eb-3f451b13e621",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "appointments",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "={{ $json.status }}"
            },
            {
              "fieldId": "customer_name",
              "fieldValue": "={{ $json.customer_name }}"
            },
            {
              "fieldId": "customer_phone",
              "fieldValue": "={{ $json.customer_phone }}"
            },
            {
              "fieldId": "appointment_date",
              "fieldValue": "={{ $json.appointment_date }}"
            },
            {
              "fieldId": "start_time",
              "fieldValue": "={{ $json.start_time }}"
            },
            {
              "fieldId": "end_time",
              "fieldValue": "={{ $json.end_time }}"
            },
            {
              "fieldId": "Service",
              "fieldValue": "={{ $json.Service }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        832,
        -144
      ],
      "id": "525fb17c-169d-4a98-977b-c9f15a7cf35a",
      "name": "Update a row",
      "credentials": {
        "supabaseApi": {
          "id": "IXxy4GFY1ZNTJ2e2",
          "name": "Supabase account 5"
        }
      }
    },
    {
      "parameters": {
        "tableId": "appointments",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "={{ $('Notion Trigger').item.json.Status }}"
            },
            {
              "fieldId": "customer_name",
              "fieldValue": "={{ $('Notion Trigger').item.json.Name }}"
            },
            {
              "fieldId": "customer_phone",
              "fieldValue": "={{ $('Notion Trigger').item.json.Phone }}"
            },
            {
              "fieldId": "appointment_date",
              "fieldValue": "={{ $('Notion Trigger').item.json.date.start }}"
            },
            {
              "fieldId": "start_time",
              "fieldValue": "={{ $('Notion Trigger').item.json['start-time'] }}"
            },
            {
              "fieldId": "end_time",
              "fieldValue": "={{ $('Notion Trigger').item.json['end-time'] }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        848,
        112
      ],
      "id": "6e9f3af6-21ce-4a7c-b239-6af53e7bfae8",
      "name": "Create a row",
      "credentials": {
        "supabaseApi": {
          "id": "IXxy4GFY1ZNTJ2e2",
          "name": "Supabase account 5"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Notion Trigger": {
      "main": [
        [
          {
            "node": "Get a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a row": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Update a row",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "88710bae-f91f-44a0-840a-067d60ee8741",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "90b6cb49899c99579264242ebcb5945915bcb7c494e1f1809bc138dacc79b617"
  },
  "id": "0AYKZXjpZqR6BRqz",
  "tags": [
    {
      "updatedAt": "2026-05-14T03:44:22.767Z",
      "createdAt": "2026-05-14T03:44:22.767Z",
      "id": "RomUHSLwTs0vX1nd",
      "name": "Clinic"
    }
  ]
}