AI-Dental-Clinic-System/workflows/booking/booking-update-simple.json
{
  "name": "booking-update-simple",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -320,
        -288
      ],
      "id": "f4ab69c7-ca6d-4c7f-ad83-2936fe2c6561",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  const query = JSON.parse(item.json.query);\n  \n  results.push({\n    json: {\n      phone_number: query.phone_number,\n      updates: query.updates\n    }\n  });\n}\n\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -112,
        -288
      ],
      "id": "359f83f3-57de-4363-ba2a-b5f85d28c284",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "appointments",
        "filters": {
          "conditions": [
            {
              "keyName": "customer_phone",
              "keyValue": "={{ $json.phone_number }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        96,
        -288
      ],
      "id": "6d612b52-1f9c-44e7-9d2b-ce1c326eed4c",
      "name": "Get a row",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "IXxy4GFY1ZNTJ2e2",
          "name": "Supabase account 5"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "5bbd1c60-a293-4407-8d46-6a6e6661f310",
              "leftValue": "={{ $json.id }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        304,
        -288
      ],
      "id": "1ba6a472-2b86-4cb8-a84a-8dae633d6548",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e75446e9-00f0-450a-8958-81fae5fcae60",
              "name": "problem",
              "value": "=What is this number you attached {{ $('Get a row').item.json.customer_phone }} There is no booking associated with this number in the first place",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        576,
        -48
      ],
      "id": "76bdf349-12f8-44b1-ad4e-c6e2dab94953",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "27347a9b-4360-4557-903b-ad948ce0b25b",
              "name": "field ",
              "value": "={{ $('Code in JavaScript').item.json.updates }}",
              "type": "string"
            },
            {
              "id": "9548c2e7-0d85-4b6d-9f0c-46ef80c53b6f",
              "name": "Value",
              "value": "={{ $('Code in JavaScript').item.json.updates[0].value }}",
              "type": "string"
            },
            {
              "id": "bf65349b-0c6f-4e41-a2bf-ff9b86a7a0c8",
              "name": "=id",
              "value": "={{ $json.id }}",
              "type": "number"
            },
            {
              "id": "67dc8f46-8e52-4daa-8b73-32730c9e8588",
              "name": "Service",
              "value": "={{ $json.Service }}",
              "type": "string"
            },
            {
              "id": "a7f3883f-7be8-4c56-8649-db3cdfbe4673",
              "name": "start_time",
              "value": "={{ $json.start_time }}",
              "type": "string"
            },
            {
              "id": "132898c6-4643-4f8e-89c8-c150678a2b78",
              "name": "appointment_date",
              "value": "={{ $json.appointment_date }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        528,
        -304
      ],
      "id": "04211e39-9441-4247-a6e3-c00039816411",
      "name": "Edit Fields1",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  const updates = JSON.parse(item.json[\"field \"]);\n\n  for (const update of updates) {\n    results.push({\n      json: {\n        field: update.field,\n        value: update.value\n      }\n    });\n  }\n}\n\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        -304
      ],
      "id": "0b668772-3e8b-4bc6-8a72-e0b260ebf73c",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        944,
        -304
      ],
      "id": "d23f220f-df6b-4784-a100-6139ef1ac19a",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.field }}",
                    "rightValue": "name",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "95e848d3-cdee-4378-8afd-76bcfc02ae4e"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "name"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "a6776352-2091-4087-8f8c-bcb52fca261a",
                    "leftValue": "={{ $json.field }}",
                    "rightValue": "phone",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "phone"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        1280,
        -288
      ],
      "id": "8c6fccd3-fb49-4710-aefe-c86d5f73948d",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "appointments",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('If').item.json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "customer_name",
              "fieldValue": "={{ $('Loop Over Items').item.json.value }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1856,
        -304
      ],
      "id": "54f33c03-8b05-42d5-8ece-39412727673e",
      "name": "Update a row",
      "credentials": {
        "supabaseApi": {
          "id": "IXxy4GFY1ZNTJ2e2",
          "name": "Supabase account 5"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "appointments",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('If').item.json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "customer_phone",
              "fieldValue": "={{ $('Loop Over Items').item.json.value }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1872,
        -96
      ],
      "id": "118c46d8-6015-4da3-b679-127695be4067",
      "name": "Update a row1",
      "credentials": {
        "supabaseApi": {
          "id": "IXxy4GFY1ZNTJ2e2",
          "name": "Supabase account 5"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "36063761-caa3-8018-b772-cc726fb8e910",
          "mode": "list",
          "cachedResultName": "Appointment",
          "cachedResultUrl": "https://www.notion.so/36063761caa38018b772cc726fb8e910"
        },
        "filterType": "manual",
        "filters": {
          "conditions": [
            {
              "key": "Phone|phone_number",
              "condition": "equals",
              "phoneNumberValue": "={{ $json.customer_phone }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        2208,
        -304
      ],
      "id": "d5bc731a-251c-4543-a2d6-4a9a09f513f7",
      "name": "Get many database pages",
      "credentials": {
        "notionApi": {
          "id": "KdxHZXDSeMFuu1Ew",
          "name": "Notion account 2"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Name|title",
              "title": "={{ $('Update a row').item.json.customer_name }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        2528,
        -304
      ],
      "id": "fa49d75c-26b5-4053-820a-486dc8560a95",
      "name": "Update a database page",
      "credentials": {
        "notionApi": {
          "id": "KdxHZXDSeMFuu1Ew",
          "name": "Notion account 2"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "36063761-caa3-8018-b772-cc726fb8e910",
          "mode": "list",
          "cachedResultName": "Appointment",
          "cachedResultUrl": "https://www.notion.so/36063761caa38018b772cc726fb8e910"
        },
        "filterType": "manual",
        "filters": {
          "conditions": [
            {
              "key": "Phone|phone_number",
              "condition": "equals",
              "phoneNumberValue": "={{ $('Code in JavaScript').item.json.phone_number }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        2192,
        -96
      ],
      "id": "71609fd8-2d39-4e75-a04d-25548dd9ba36",
      "name": "Get many database pages1",
      "credentials": {
        "notionApi": {
          "id": "KdxHZXDSeMFuu1Ew",
          "name": "Notion account 2"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Phone|phone_number",
              "phoneValue": "={{ $('Update a row1').item.json.customer_phone }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        2528,
        -96
      ],
      "id": "d2f7f87d-e0fa-4778-85d4-16a9179a18b0",
      "name": "Update a database page1",
      "credentials": {
        "notionApi": {
          "id": "KdxHZXDSeMFuu1Ew",
          "name": "Notion account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Get a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a row": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Update a row",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update a row1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update a row": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get many database pages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update a row1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get many database pages1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many database pages": {
      "main": [
        [
          {
            "node": "Update a database page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many database pages1": {
      "main": [
        [
          {
            "node": "Update a database page1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "e93f0ba4-0936-4d5f-b45d-0870f6280312",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "90b6cb49899c99579264242ebcb5945915bcb7c494e1f1809bc138dacc79b617"
  },
  "id": "eMfG7aIgKOFBEKR3",
  "tags": [
    {
      "updatedAt": "2026-05-14T03:44:22.767Z",
      "createdAt": "2026-05-14T03:44:22.767Z",
      "id": "RomUHSLwTs0vX1nd",
      "name": "Clinic"
    }
  ]
}